.contact {
  margin: 100px 0 100px 0;
}
.contact > div {
  margin-bottom: 20px;
}
.contact > div > h2 {
  letter-spacing: 0.1rem;
  color: #04bbff;
  font-size: 34px;
  text-align: center;
}
.cordonnes__container {
  width: 500px;
}
.central-form {
  height: 450px;
  max-width: 1100px;
  padding: 10px;
  display: flex;
  box-shadow: 0 0px 20px -2px #1f2235;
  border-radius: 12px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #003c57;
  align-items: center;
}
form button {
  margin-top: 15px;
  padding: 5px;
  outline: none;
  width: 900px;
  color: rgb(230, 227, 227);
  border: 2px solid #04bbff;
  font-size: 12px;
  border-radius: 19px;
  background-color: #003c57;
  font-size: 18px;
  width: 160px;
  align-items: center;
  justify-content: center;
}
.central-form .col {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.central-form .col h2 {
  margin: 17px 0 0 10px;
}
.cordonnes {
  width: 100%;
}
.cordonnes div {
  display: flex;
  padding: 10px;
  width: 100%;
  letter-spacing: 1.5px;
  line-height: 30px;
}
.cordonnes div h5 {
  margin-left: 8px;
}

.central-form form {
  width: 500px;
  box-shadow: 0 0 2px 1px white;
  display: flex;
  color: #111;
  padding: 15px;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0.9;
  background-color: white;
  box-shadow: 0 0px 20px -2px #1f2235;
  border-radius: 12px;
}

form label {
  margin-bottom: 5px;
  color: #111;
  letter-spacing: 0.2rem;
}
form input,
textarea {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border-radius: 10px;
}
.media__link {
  text-align: center;
  margin-bottom: 20px;
  
}
