.cles__container{
    width: 100%;
    height: 300px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.rec-arrow {
    
        display: none;
    
}
.cles__container .rec-pagination{
    display: none;
}
.cle{
    display: flex;
    background-color: white;
  padding: 30px;
  border-radius: 50px 50px 50px 50px;
  height: 130px;
  width: 300px;
  font-size: larger;
  text-align: center;
  align-items: center;
  justify-content: center;
}
