@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
.nav-backgroung {
  min-height: 600px;
  background: linear-gradient(to right, #0593d093, #003b5779),
    url("/public/Empire.gif") no-repeat center fixed;
  background-repeat: repeat;
  background-size: cover;
}
.nav-cover-escription {
  text-align: center;
  color: #fff;
  padding-top: 300px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  z-index: 1;
}
.nav-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}
.nav-logo {
  object-fit: contain;
  width: 60%;
}
.nav-link {
  text-decoration: none;
}

.nav-item {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
}
.nav-item:hover {
  color: #2770cb;
}
