@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Praise&display=swap");
body {
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Footer {
  background-color: #051c24;
  padding: 70px 0px 0px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footerContainer {
  max-width: 1170px;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.unList {
  line-height: 26px;
}
.footerItem {
  font-size: 12px;
}
.logo-description-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
.footer-logo {
  height: 90%;
}
.FooterLink {
  text-decoration: none;
}
.footerCol {
  width: 20%;
  padding: 0px 12px;
}
.footerCol h4 {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  color: #04bbff;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.footerCol h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: aliceblue;
  height: 2px;
  box-sizing: border-box;
  width: 60px;
}
.footerCol ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footerCol li {
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.footerCol li:hover {
  color: #04bbff;
  padding-left: 9px;
}
.socialLink {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding-top: 6.5px;
  background-color: transparent;
  margin: 0px 10px 0px 0px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: aliceblue;
  border: 1px solid aliceblue;
  transition: all 1.1s ease;
}
.socialLink:hover {
  color: #0594d0;
  background-color: transparent;
  border: 1px solid #0594d0;
}
.footerItems {
  font-weight: lighter;
}
/*responsive*/

@media (max-width: 767px) {
  .footerCol {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footerCol {
    width: 100%;
  }
}
.copyright {
  margin: auto;
  padding: 40px 0px 20px;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
}
